@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
html, body {
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}


@media (min-width: 1025px) and (max-width: 1280px){
    body {
      display:none ;}
    }


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    --color: #99d0ef;
}

/* Code for loading icon .This only works with JavaScript,
            if it's not present, don't show loader */

    .no-js #loader { display: none;  }

    .js #loader { display: block; position: absolute; left: 100px; top: 0; }

    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(../../static/images/Preloader_2.gif) center no-repeat #fff;
    }

a {
    color: #000000;
    font-weight: 400;
    transition: ease-in-out .5s;
}
a:hover {
    color: var(--color);
    text-decoration: none !important;
}
.container{
    background: #f4f4f4;
    padding: 1.5em;
}
.container .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .header .logo{
    grid-area: logo;
    color: var(--color);
    font-size: 1.5em;
}
.hide-mobile{
    display: none !important;
}
nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

.active{
    color: var(--color);
}
nav ul li a{
    color: #fff;
    display: block;
    width: 100%;
    padding: 1em 2em;
    text-decoration: none !important;
}

nav ul li a:hover{
    text-decoration: none;
}

#pagination{
  padding: 30px 0;
}

#pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p1 a.is-active{
  background-color: #99d0ef;
  border-radius: 100%;
  color: #fff;
}


.exit-btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
.containerBody{
    display: grid;
    grid-template-areas: "hero" "heroimg";
    grid-gap: 1.3em;
}
.containerBody .left{
    grid-area: hero;
    padding-top: 3em;
}
.containerBody .left h1{
    text-transform: uppercase;
    padding-bottom: .3em;
}
.containerBody .left p{
    font-weight: normal;
    padding-bottom: 1.5em;
}
.containerBody .left a{
    color: #fff;
    background: var(--color);
    padding: .7em 1.5em;
    border-radius: 5px;
    transition: ease-in-out .5s;
    font-weight: 500;
}
.containerBody .left a:hover{
    background: #7DB0CF;
}
.containerBody .right{
    grid-area: heroimg;
    padding-bottom: .9em;
}
.arrowDown{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categorySection{
    padding: 1.5em;
    background: #f0f0f0;
}
.categorySection h2 {
    padding-top: .9em;
    padding-bottom: .9em;
    text-align: center;
    text-transform: uppercase;
}
.categorySection .categoriesBox{
    display: grid;
    grid-template-areas: "gadget" "accommodation" "events" "cloths" "services" "random";
    text-align: center;
    align-items: center;
}
.gadgets{
    grid-area: gadgets;
}
.accommodation{
    grid-area: accommodation;
}
.events{
    grid-area: events;
}
.clothes{
    grid-area: cloths;
}
.services{
    grid-area: services;
}
.random{
    grid-area: random;
}
.categorySection .categories .categoriesBox{
    background: #f4f4f4;
    transition: all 0.4s ease-in-out 0s;
    margin-bottom: 1.5em;
    padding: 0px 1em 1.5em 1em;
}
.categorySection .categories .categoriesBox:hover{
    -webkit-box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff;
}
.categorySection .categories .categoriesBox h3{
    padding-bottom: .9em;
}
.categorySection .categories .categoriesBox p{
    padding-bottom: 2em;
}
.categorySection .categories .categoriesBox img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}
.categorySection .categories .categoriesBox a{
  color: #99d0ef;
  padding: .5em 2em;
  border: 1px solid #99d0ef;
  border-radius: 5px;
  font-weight: 500;
}
.categorySection .categories .categoriesBox a:hover{
  color: #fff;
  background: #99d0ef;
}
.footer{
    background: #eaeaea;
    padding: 1.5em;
}
.footer .footerSection{
    padding: 1.5em 0;
    display: grid;
    grid-gap: 2em;
    grid-template-areas: "about" "contact" "legal";
}
.footer .footerSection h3{
    font-size: 1.3em;
    padding-bottom: .8em;
}
.about{
    grid-area: about;
}
.contact{
    grid-area: contact;
}
.contact .nav-icons{
    width: 30px;
}
.legal{
    grid-area: legal;
}
.legal li a {
  color: #000000;
  font-weight: 400;
    transition: ease-in-out .5s;
}
.legal li a:hover {
  color: var(--color);
}
.hideDetails{
    display: none;
}
.showDetails{
    display: block;
}
input{
    font: 400 13.3333px Montserrat;
}
input[type=text],[type=number], input[type=search], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}
input[type=submit] {
  background-color: var(--color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[type=submit]:hover {
  background-color: #99cfee;
}
.contactUs {
  background-color: #f2f2f2;
  padding: 1.5em;
}
.contactUs h2 {
    padding-top: .9em;
    padding-bottom: .9em;
    text-align: center;
    text-transform: uppercase;
}
.maincategorySection{
    padding: 1.5em;
    background: #f4f4f4;
}
.maincategorySection h2 {
    padding-top: .9em;
    padding-bottom: .7em;
    text-align: center;
    text-transform: uppercase;
}
.maincategorySection p{
    padding-bottom: 1.2em;
    text-align: center;
}
.maincategorySection .categoriesBox{
    text-align: center;
    align-items: center;
}
.maincategorySection .categories .categoriesBox{
    background: #f7f7f7;
    transition: all 0.4s ease-in-out 0s;
    margin-bottom: 1.5em;
    padding: 0px 1em 1.5em 1em;
}
.maincategorySection .categories .categoriesBox:hover{
    -webkit-box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff;
}
.maincategorySection .categories .categoriesBox h3{
    padding-bottom: .9em;
}
.maincategorySection .categories .categoriesBox p{
    padding-bottom: 2em;
}
.maincategorySection .categories .categoriesBox img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}
.maincategorySection .categories .categoriesBox a{
  color: #99d0ef;
  padding: .5em 2em;
  border: 1px solid #99d0ef;
  border-radius: 5px;
  font-weight: 500;
   text-decoration: none;
    padding-top: 0px;
}
.maincategorySection .categories .categoriesBox a:hover{
  color: #fff;
  background: #99d0ef;
    text-decoration: none;
}
span.smallText{
    font-size: .7em;
}
.searchcontainerBody .left{
    grid-area: hero;
    padding-top: 3em;
}
.searchcontainerBody .left h1{
    text-transform: uppercase;
    padding-bottom: .3em;
}
.searchcontainerBody .left p{
    font-weight: normal;
    padding-bottom: 1.5em;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.show {display:block;}


