<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CampusBuy Beta</title>
</head>
<body>

<div>

    <a href="#"><h1>Campus Buy</h1></a>
</div>


<div>
    <h1>ADVERTS</h1>
    {%for item in Item_Advert%}

    <div style="background: orange; width: 50%;">
        <h3>Seller Name :{{item.Seller_Name}}</h3>
        <h4>Item for sale: {{item.Item}}</h4>
        <h6>Description: {{item.Description}}</h6>
        <h5>Asking Price: {{item.Asking_Price}}</h5>
        <h5>Phone Number: {{item.Phone_Number}}</h5>
        <h5>Location: {{item.Location}}</h5>

        <p> Published : {{item.published_date}}</p>
        <hr>

    </div>

    {%endfor%}

</div>

</body>
</html>