{%extends 'campusbuy/base.html' %}
               {% block content%}



<body>


<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">MENU</li>
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'PostAd' %}">POST AD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#bns">CHECK FOR AD</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Docs</li>
    <li class="nav-item">
      <a class="nav-link" href="docs/index.html">Toolkit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>
</div>

<div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header"
     style="background-image: url(../../static/images/3.png);">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="">
      <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">Campus Buy</strong>
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#foot">Contact Us</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{%url 'PostAd' %}">Post AD!</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#bns">Look Up AD!</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">WELCOME TO CAMPUS BUY</h1>
          <p class="lead mb-4 text-muted">Reach a larger Audience and sell your stuff faster.</p>
            <a href="{%url 'PostAd' %}"><button class="btn btn-primary btn-lg">Post your ad</button></a>
            <a href="#bns"><button class="btn btn-primary btn-lg">Look up ads</button></a>

        </div>
      </div>
    </div>
  </div>
</div>


         	<div class="block block-secondary app-block-marketing-grid">




  <div class="container text-xs-center" >


    <div class="row mb-5">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2" id="bns">Campus Buy</h6>
        <h3  class="mb-4">CATEGORIES</h3>
      </div>
    </div>


    <div class="row app-marketing-grid">

{% for category in Categories %}


                  <div class="col-md-4 px-4 mb-5">
                  <a href="#"><img style="height: 193px;" class="mb-1" src="{{MEDIA_URL}}{{category.Category_Logo.url}}"></a>
                <p><strong>{{category.Name}}</strong>{{category.Details}}</p>
              </div>
      {% endfor %}


           </div>
        </div>
              </div>


{% endblock %}

         