{%extends 'campusbuy/base.html' %}
               {% block content%}

<div class="container">
        <div class="header">
            <h1 class="logo"><a style="color: #99d0ef;" href="{%url 'Homepage' %}">CampusBuy</a></h1>
            <nav id="navLinks" class="navLinks">
                <a href="javascript:void(0)" class="hide-desktop" id="menu" class="menu">&#9776;</a>
                <ul class="show-desktop hide-mobile" id="nav">
                    <li id="exit" class="exit-btn hide-desktop">&times;</li>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="{%url 'PostAd' %}">Post Ad</a></li>
                    <li><a href="#categorySection">Look Up Ad</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li class="search"><a href="{%url 'search' %}">
                        <img src="static/assets/search.svg" alt=""></a></li>
                </ul>
            </nav>
        </div>
        <div class="containerBody">
            <div class="left">
                <h1>uniben + Shopping = campusbuy</h1>
                <p>Buying and selling for students made easy</p>
                <a class="post" href="{%url 'PostAd' %}">Post Ads</a>
            </div>
            <div class="right">
                <img src="static/assets/heroimage.svg">
            </div>
        </div>
        <a href="#categorySection"><img class="arrowDown hide-mobile" src="static/assets/chevron_down.svg" alt=""></a>
    </div>

   <div id="categorySection" class="categorySection">
        <h2>Categories</h2>

        <div class="categories">
    {% for category in Categories %}
            <div class="categoriesBox {{ category.Name }}">
                <img alt="Category Image" src="{{MEDIA_URL}}{{category.Category_Logo.url}}">
                <h4>{{ category.Name }}</h4>
                <p>{{ category.Details }}</p>
                <a style="text-decoration: none;" class="post" href="{{ category.Name }}">View Ad</a>
            </div>
     {% endfor %}
        </div>
   </div>




{% endblock %}

         