{%extends 'campusbuy/base.html' %}
               {% block content%}




<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-item">

     <form method="get" action="{%url 'Search' %}>
      <input type="text" name="q" placeholder="Search here..">
      </form>
     <li class="nav-item">
      <a class="nav-link active" href="{%url 'Homepage'%}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'PostAd' %}">POST AD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#footer">ABOUT US</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Categories</li>

    {% for category in Categories %}
    <li class="nav-item">
      <a class="nav-link" href="{{ category.Name }}">{{category.Name}}</a>
    </li>
    {% endfor %}

  </ul>
</div>

  <div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header" id="bg">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="{%url 'Homepage' %}">
      <strong style="background: #2595ff; padding: 12px; border-radius: 4px; color: #fff; text-shadow: 0px -1px 1px black;">CAMPUS BUY</strong>
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#foot">Contact Us</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{%url 'PostAd' %}">Post AD!</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="#bns">Look Up AD!</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="{%url 'Search' %}">Search</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6" style="padding: 20px;">
          <div style="background: rgba(0, 0, 0, 0.5);" >
          <h1 class="block-titleData frequency">WELCOME TO CAMPUS BUY</h1>
          <p class="lead mb-4 text-muted">.</p>
          </div>
            <a href="{%url 'PostAd' %}"><button class="btn btn-pill btn-danger">Post your ad</button></a>
            <a href="#bns"><button class="btn btn-pill btn-danger">Look up ads</button></a>

        </div>
      </div>
    </div>
  </div>
</div>


         	<div class="block block-secondary ">




  <div class="container text-xs-center" >


    <div class="row mb-5">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2" id="bns">Campus Buy</h6>
        <h3  class="mb-4">CATEGORIES</h3>
      </div>
    </div>


    <div class="row ">

{% for category in Categories %}


                  <div class="col-md-4 px-4 mb-5">
                  <a href="{{ category.Name }}"><img style="height: 94px;" class="mb-1" src="{{MEDIA_URL}}{{category.Category_Logo.url}}"></a>
                <p><strong>{{category.Name}}</strong>  {{category.Details}}</p>
              </div>
      {% endfor %}


           </div>
        </div>
              </div>


{% endblock %}

         