{% extends 'campusbuy/base.html' %}
{% block content %}
{% load cloudinary %}








<div class="maincategorySection">
        <h2>{{category}}</h2>
    {% if categories %}
        <p>Here's a list of the available items under the {{category}} category</p>
    {% endif %}

    {% for ads in categories %}
                            {% load humanize %}
                            {% load nigerian %}
        <div class="categories">
            <div class="categoriesBox {{category}}">

                {% cloudinary ads.image THUMBNAIL %}

                <p style="font-size: xx-small; padding-bottom:0in;">Posted: {{ ads.published_date|naturaltime }}</p>
                <h5>{{ ads.Item}}</h5>
                <p style="color:lawngreen; padding-bottom:0in;" >&#8358 {{ads.Asking_Price|intcomma}}</p>

              <div id="ad{{ads.pk}}" class="collapse">
          <p style="font-weight: bold; font-size:10px; border: 2px ridge #9a9a9a;">{{ads.Description}}</p>
          <p style="font-weight: normal; padding-bottom: 0px;"><i style='font-size:24px; color: red;' class='fas'>&#xf3c5;</i> {{ads.Location}}</span> </p>
          <a href="tel: {{ads.Phone_Number}}" style="text-decoration:none; color: hsla(0, 0%, 0%, 0.9); padding: 0px; border: none;">Call me<i class="fas fa-phone fa-flip-horizontal"></i></a>
          <span>&#124;</span>
          <a href="https://wa.me/{{ads.Phone_Number|nigerianalize}}/?text=Hi%20{{ads.Seller_Name}}%2CI%20saw%20your%20advert%20on%20https%3A%2F%2Fcampusbuy%2Eonline%20I'm%20interested%20in%20the%20{{ ads.Item }}%20you're%20selling" style="text-decoration:none; color: hsla(0, 0%, 0%, 0.9); padding: 0px; border: none;">Whatsapp <i class="fab fa-whatsapp" style="color:green;"></i> </a>
              </div>
                <a class="post" id="clickk" href="#ad{{ads.pk}}"  data-toggle="collapse")">View Details</a>

            </div>

        </div>
            {% empty %}

            <p>Sorry &#128580; ,there's no ad
                placement in this category right now but you can be the first to place one &#128512;</p>
             <a id="nopost" href="{%url 'PostAd' %}">Post an Ad!</a>


            {% endfor %}
    </div>






                                {% if categories.has_other_pages %}
            <div id="pagination" class="p1">
              {% if categories.has_previous %}
                <a href="?page={{ categories.previous_page_number }}">&laquo;</a>
              {% else %}
                <a class="disabled"><span>&laquo;</span></a>
              {% endif %}
              {% for i in categories.paginator.page_range %}
                {% if categories.number == i %}
                  <a class="is-active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                {% else %}
                  <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
              {% endfor %}
              {% if categories.has_next %}
                <a href="?page={{ categories.next_page_number }}">&raquo;</a>
              {% else %}
                <a class="disabled"><span>&raquo;</span></a>
              {% endif %}
            </div>
          {% endif %}


<br>
<br>
<br>

<!--END OF THE BODY-->




{% endblock %}