{%extends 'campusbuy/base.html' %}



    {% block content %}


<div class="container">
        <div class="header">
            <h1 class="logo"><a href="{%url 'Homepage' %}">CampusBuy</a></h1>
            <nav id="navLinks" class="navLinks">
                <a href="javascript:void(0)" class="hide-desktop" id="menu" class="menu">&#9776;</a>
                <ul class="show-desktop hide-mobile" id="nav">
                    <li id="exit" class="exit-btn hide-desktop">&times;</li>
                    <li><a href="{%url 'Homepage' %}">Home</></li>
                    <li><a class="active" href="{%url 'PostAd' %}">Post Ad</a></li>
                    <li><a href="{%url 'Homepage'%}#categorySection">Look Up Ad</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="search"><a href="{%url 'search' %}"><img src="static/assets/search.svg" alt=""></a></li>
                </ul>
            </nav>
        </div>
        <div class="containerBody">
            <div class="left">
                <h1>post ads</h1>
                <p>Fill in the form below to post an advert</p>
            </div>


	    <form action="#" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

            {{ form.as_p }}


            <input type="submit"  value="Submit">



	     </form>


        </div>

</div>

    {% endblock %}


