{%extends 'campusbuy/base.html' %}



    {% block content %}


        <div class="containerBody">
            <div class="left">
                <h1>post ads</h1>
                <p>Fill in the form below to post an advert</p>
            </div>


	    <form action="#" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

            {{ form.as_p }}


            <input type="submit"  value="Submit">



	     </form>


        </div>

</div>

    {% endblock %}


