{%extends 'campusbuy/base.html' %}



    {% block content %}


<div class="AdNav" id="MyAdNav">

    <a href="{%url 'Homepage' %}" > <span style="font-weight: bold; text-shadow: 3px 1px 5px #2f4254; font-size: 22px;">CAMPUS BUY</span></a>
    <a href="{%url 'Homepage' %}" > Home</a>
    <a href="{%url 'Homepage'%}#bns"> Look Up Ads</a>
    <a href="{%url 'PostAd' %}" > Post Ads</a>
    <a href="#footer" > About</a>
    <form method="get" action="{%url 'Search' %}">
      <input type="text" name="q" placeholder="Search here..">
      </form>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <div class="container" onclick="myFunctionx(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
        </div>
    </a>


</div>

<br>
<br>
<br>

<div class="container">

<div class="cvbnm">

	    <form class="MyForm-control" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

	    		<h4>Post Your Ad!</h4>

				<hr>

		        {{ form.as_p }}
		        <input type="submit"  class="btn btn-success">



	     </form>


</div>
</div>




<br>
<br>

    {% endblock %}


