{%extends 'campusbuy/base.html' %}
    {% block content%}
    {% load cloudinary %}

        <!--BEGINNING OF NAV-->
<div class="container">
        <div class="header">
            <h1 class="logo"><a href="{%url 'Homepage' %}">CampusBuy</a></h1>
            <nav id="navLinks" class="navLinks">
                <a href="javascript:void(0)" class="hide-desktop" id="menu" class="menu">&#9776;</a>
                <ul class="show-desktop hide-mobile" id="nav">
                    <li id="exit" class="exit-btn hide-desktop">&times;</li>
                    <li><a href="{%url 'Homepage' %}">Home</></li>
                    <li><a class="active" href="{%url 'PostAd' %}">Post Ad</a></li>
                    <li><a href="{%url 'Homepage'%}#categorySection">Look Up Ad</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="search"><a href="{%url 'search' %}"><img src="assets/search.svg" alt=""></a></li>
                </ul>
            </nav>
        </div>
        <!--END OF NAV-->






        <!-- BEGINNING OF THE BODY-->
<br>

            <form method="get" >
                    <input type="text" name="q" placeholder="search"  class="fa fa-search">
            </form>

                <br>
                   <h3 >Results</h3>
<hr>
<div  class="maincategorySection">
        <h2 style="padding-top: 0px; padding-bottom: 0px;">{{category}}</h2>
        <p>Here's the list of ads that match your search</p>
    {% for item in results %}
                            {% load humanize %}
                            {% load nigerian %}
        <div class="categories">
            <div class="categoriesBox {{category}}">

               {% cloudinary item.image THUMBNAIL %}

                <p style="font-size: xx-small; padding-bottom:0in;">Posted: {{ item.published_date|naturaltime }}</p>
                <h5>{{ item.Item}}</h5>
                <p style="color:lawngreen; padding-bottom:0in;" >&#8358 {{item.Asking_Price|intcomma}}</p>

              <div id="ad{{item.pk}}" class="collapse">
          <p style="font-weight: bold; font-size:10px; border: 2px ridge #9a9a9a;">{{item.Description}}</p>
          <p style="font-weight: normal; padding-bottom: 0px;"><i style='font-size:24px; color: red;' class='fas'>&#xf3c5;</i> {{item.Location}}</span> </p>
          <a href="tel: {{item.Phone_Number}}" style="text-decoration:none; color: hsla(0, 0%, 0%, 0.9); padding: 0px; border: none;">Call me<i class="fas fa-phone fa-flip-horizontal"></i></a>
          <span>&#124;</span>
          <a href="https://wa.me/{{item.Phone_Number|nigerianalize}}/?text=I'm%20interested%20in%20the%20item%20you're%20selling" style="text-decoration:none; color: hsla(0, 0%, 0%, 0.9); padding: 0px; border: none;">Whatsapp <i class="fab fa-whatsapp" style="color:green;"></i> </a>
              </div>
                <a class="post" id="clickk" href="#ad{{item.pk}}"  data-toggle="collapse")">View Details</a>

            </div>

        </div>

         {% empty %}

         <p style="text-align: center; "> NO AD MATCHED YOUR SEARCH</p>

            {% endfor %}
    </div>

</div>



    {% endblock %}